* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

.container {
    width: 40%;
    padding: 2rem;
}

#header {
    font-size: 3rem;
    padding: 1rem;
    background-color: #11468F;
    color: #fff;
}

#question {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

#body {
    background-color: #D6E5FA;
    padding: 2rem 1rem;
}

#buttons {
    padding: 2rem 0;
}

button {
    padding: 1rem;
    background-color: #4B6587;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-right: 1rem;
}

button:hover {
    cursor: pointer;
    background-color: #305973;
}

#footer {
    background-color: #11468F;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
    color: #fff;
}