@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 12px;
}

.container {
    width: 100%;
    text-align: center;
    margin: auto;
}

#header {
    font-size: 3rem;
    padding: 0.5rem 1rem;
    background-color: #ffb2a6;
    color: #111;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#question {
    font-size: 2rem;
    color: #333;
    font-weight: bold;
}

#body {
    background-color: #eeeeee;
    padding: 2rem 1rem;
}

.score {
    margin-top: 20px;
    color: red;
}

#buttons {
    padding: 2rem 0;
}

button {
    padding: 1rem;
    background-color: #180a0a;
    color: #fff;
    border: none;
    border-radius: 3px;
    transition: all 0.3s;
    margin: 10px 5px;
}

button:hover {
    cursor: pointer;
    background-color: #ffb2a6;
    color: #111;
}

#footer {
    background-color: #ffb2a6;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    color: #111;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
